<!-- <div style="width: calc(100% - 2px); height: calc(100% - 2px); border: 1px solid #0000001f; border-radius: 3px;"
    [ngClass]="disabled ? 'disabled' : null" (resized)="onResized($event)">
    <div *ngIf="label" class="label">
        <div>{{label}}</div>
    </div>
    <ngx-codemirror #CodeMirror [ngModel]="editorValue" (ngModelChange)="onChange($event)" [options]="options">
    </ngx-codemirror>
</div> -->

<div fxLayout="column" style="height: 100%; background-color: #fff;">
    <div fxLayout fxLayoutAlign="start center" style="height: 40px">
        <button type="button" mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange($event)" matTooltip="Previous month">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button type="button" mat-icon-button mwlCalendarToday [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange($event)" matTooltip="Today's month">
            <mat-icon>today</mat-icon>
        </button>
        <button type="button" mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange($event)" matTooltip="Next month">
            <mat-icon>chevron_right</mat-icon>
        </button>
        <div fxFlex style="font-weight: bolder; text-align: center;">
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
        </div>
    </div>
    <div style="height: calc(100% - 32px - 40px);">
        <mwl-calendar-month-view style="height: 100%;" [weekStartsOn]="1" [activeDayIsOpen]="false"
            [viewDate]="viewDate" [events]="calendarEvents" (eventClicked)="eventClicked($event)"
            (dayClicked)="dayClicked($event)">
        </mwl-calendar-month-view>
    </div>
</div>