.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-medium::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.scrollbar-wide::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

// .grid {
//     display: grid;
//     // grid-template-columns: repeat(20, 100px);
//     // grid-template-rows: repeat(40, 50px);
//     // background-color: white;
//     // background-image: repeating-linear-gradient(to right, black 0, black 1px, transparent 1px, transparent 200px),
//     //     repeating-linear-gradient(to bottom, black 0, black 1px, transparent 1px, transparent 200px);
//     // gap: 1px;

//     // background: repeating-linear-gradient(to right, var(--b)) 0 calc(100% / 3),
//     //     repeating-linear-gradient(to bottom, var(--b)) calc(2 * (100% / 3)) 0,
//     //     repeating-linear-gradient(to right, var(--b)) 0 calc(2 * (100% / 3)),
//     //     repeating-linear-gradient(to bottom, var(--b)) calc(100% / 3) 0;
//     // background-size: 100% 2px, 2px 100%;
//     // background-repeat: repeat;
//     // background-color: "gray";
//     // width: 2000px;
//     // height: 2000px;
//     // grid-auto-rows: 50px;
//     // grid-auto-columns: 100px;
// }

// .grid > span {
//     text-overflow: ellipsis;
//     overflow: hidden;
//     white-space: nowrap;
//     padding: 8px 4px;
//     // border: 1px dashed black;
//     // border-right: 1px solid black;
//     // border-bottom: 1px solid black;
// }

// .left {
//     background: grey;
//     position: sticky;
//     left: 0;
//     z-index: 100;
// }

// .top {
//     background: grey;
//     position: sticky;
//     top: 0;
// }

// .top-left {
//     background: green;
//     position: sticky;
//     top: 0;
//     left: 0;
//     z-index: 200;
// }
