<div class="wrapper" cdkScrollable (resized)="onResized($event)">
    <div [style]="gridStyle" (mouseleave)="onGridMouseLeave($event)">
        <div *ngFor="let cell of grid" [style]="getCellStyle(cell)" (click)="emitCellClick(cell)"
            (mousedown)="onMouseDown($event, cell)" (mouseup)="onMouseUp($event, cell)"
            (mouseover)="onMouseOver($event, cell)">
            <div [style]="cell.contentStyle">
                <ng-container *ngFor="let cellItem of cell.content">
                    <div [ngSwitch]="cellItem.type" [style]="cellItem.style">
                        <ng-container *ngSwitchCase="'text'">
                            {{cellItem.value}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'button'">
                            <drayman-button-internal [label]="cellItem.value.label"
                                [onClick]="emitContentButtonClick.bind(this, cell, cellItem.value)"
                                [view]="cellItem.value.view" [icon]="cellItem.value.icon"
                                [tooltip]="cellItem.value.tooltip" [disabled]="cellItem.value.disabled"
                                [imgUrl]="cellItem.value.imgUrl" [popup]="cellItem.value.popup"
                                [buttonStyle]="cellItem.value.buttonStyle" [options]="cellItem.value">
                            </drayman-button-internal>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>