<div class="wrapper" cdkScrollable (resized)="onResized($event)">
    <div [style]="gridStyle" (mouseleave)="onGridMouseLeave($event)">
        <div (contextmenu)="oncontextmenu($event, cell)" tabindex="-1" *ngFor="let cell of grid"
            [style]="getCellStyle(cell)" (click)="emitCellClick(cell)" (mousedown)="onMouseDown($event, cell)"
            (mouseup)="onMouseUp($event, cell)" (mouseover)="onMouseOver($event, cell)"
            (mouseleave)="onMouseLeave($event, cell)" [attr.ref]="cell.ref">
            <div [style]="cell.contentStyle">
                <ng-container *ngFor="let cellItem of cell.content">
                    <ng-container [ngSwitch]="cellItem.type">
                        <ng-container *ngSwitchCase="'text'">
                            <div [style]="cellItem.style" [innerHTML]="getSanitizedString(cellItem.value)">
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'button'">
                            <div [style]="cellItem.style">
                                <drayman-button-internal [label]="cellItem.value.label"
                                    [onClick]="emitContentButtonClick.bind(this, cell, cellItem.value)"
                                    [view]="cellItem.value.view" [icon]="cellItem.value.icon"
                                    [tooltip]="cellItem.value.tooltip" [disabled]="cellItem.value.disabled"
                                    [imgUrl]="cellItem.value.imgUrl" [popup]="cellItem.value.popup"
                                    [buttonStyle]="cellItem.value.buttonStyle" [options]="cellItem.value">
                                </drayman-button-internal>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>