.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scrollbar-medium::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.scrollbar-wide::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.wrapper::-webkit-scrollbar-track {
    background: #f0f0f000;
}

.wrapper::-webkit-scrollbar-thumb {
    background: #88888840;
}

.wrapper::-webkit-scrollbar-thumb:hover {
    background: #888888;
}

.wrapper::-webkit-scrollbar-thumb:window-inactive {
    background: var(--component-A-color);
}

.resizable-gutter {
    width: 10px; 
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    z-index: 1;
    background-color: transparent; 
}

.resizable-gutter::before {
    content: "";
    display: block;
    background-color: #ccc;
    width: 5px; 
    height: 100%;
    position: absolute;
    right: 0;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.resizable-gutter:hover::before {
    opacity: 1; 
}
