<div [ngSwitch]="chart?.type" style="width: 100%; height: 100%;" (resized)="onResized($event)" #chartContainer>
    <ng-container *ngSwitchCase="'verticalBar'">
        <ngx-charts-bar-vertical
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [schemeType]="chart.schemeType"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [barPadding]="chart.barPadding"
            [roundDomains]="chart.roundDomains"
            [roundEdges]="chart.roundEdges"
            [yScaleMax]="chart.yScaleMax"
            [yScaleMin]="chart.yScaleMin"
            [showDataLabel]="chart.showDataLabel"
            [dataLabelFormatting]="chart.dataLabelFormatting"
            [noBarWhenZero]="chart.noBarWhenZero"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bar-vertical>
    </ng-container>

    <ng-container *ngSwitchCase="'horizontalBar'">
        <ngx-charts-bar-horizontal
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [schemeType]="chart.schemeType"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [barPadding]="chart.barPadding"
            [roundDomains]="chart.roundDomains"
            [roundEdges]="chart.roundEdges"
            [xScaleMax]="chart.xScaleMax"
            [xScaleMin]="chart.xScaleMin"
            [showDataLabel]="chart.showDataLabel"
            [dataLabelFormatting]="chart.dataLabelFormatting"
            [noBarWhenZero]="chart.noBarWhenZero"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bar-horizontal>
    </ng-container>

    <ng-container *ngSwitchCase="'verticalBarGrouped'">
        <ngx-charts-bar-vertical-2d
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [schemeType]="chart.schemeType"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [barPadding]="chart.barPadding"
            [groupPadding]="chart.groupPadding"
            [roundDomains]="chart.roundDomains"
            [roundEdges]="chart.roundEdges"
            [yScaleMax]="chart.yScaleMax"
            [showDataLabel]="chart.showDataLabel"
            [dataLabelFormatting]="chart.dataLabelFormatting"
            [noBarWhenZero]="chart.noBarWhenZero"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bar-vertical-2d>
    </ng-container>

    <ng-container *ngSwitchCase="'horizontalBarGrouped'">
        <ngx-charts-bar-horizontal-2d
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [schemeType]="chart.schemeType"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [barPadding]="chart.barPadding"
            [groupPadding]="chart.groupPadding"
            [roundDomains]="chart.roundDomains"
            [roundEdges]="chart.roundEdges"
            [xScaleMax]="chart.xScaleMax"
            [showDataLabel]="chart.showDataLabel"
            [dataLabelFormatting]="chart.dataLabelFormatting"
            [noBarWhenZero]="chart.noBarWhenZero"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bar-horizontal-2d>
    </ng-container>

    <ng-container *ngSwitchCase="'verticalBarStacked'">
        <ngx-charts-bar-vertical-stacked
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [schemeType]="chart.schemeType"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [barPadding]="chart.barPadding"
            [roundDomains]="chart.roundDomains"
            [yScaleMax]="chart.yScaleMax"
            [showDataLabel]="chart.showDataLabel"
            [dataLabelFormatting]="chart.dataLabelFormatting"
            [noBarWhenZero]="chart.noBarWhenZero"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bar-vertical-stacked>
    </ng-container>

    <ng-container *ngSwitchCase="'horizontalBarStacked'">
        <ngx-charts-bar-horizontal-stacked
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [schemeType]="chart.schemeType"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [barPadding]="chart.barPadding"
            [roundDomains]="chart.roundDomains"
            [xScaleMax]="chart.xScaleMax"
            [showDataLabel]="chart.showDataLabel"
            [dataLabelFormatting]="chart.dataLabelFormatting"
            [noBarWhenZero]="chart.noBarWhenZero"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bar-horizontal-stacked>
    </ng-container>

    <ng-container *ngSwitchCase="'verticalBarNormalized'">
        <ngx-charts-bar-vertical-normalized
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [schemeType]="chart.schemeType"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [barPadding]="chart.barPadding"
            [roundDomains]="chart.roundDomains"
            [noBarWhenZero]="chart.noBarWhenZero"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bar-vertical-normalized>
    </ng-container>

    <ng-container *ngSwitchCase="'horizontalBarNormalized'">
        <ngx-charts-bar-horizontal-normalized
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [schemeType]="chart.schemeType"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [barPadding]="chart.barPadding"
            [roundDomains]="chart.roundDomains"
            [noBarWhenZero]="chart.noBarWhenZero"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bar-horizontal-normalized>
    </ng-container>

    <ng-container *ngSwitchCase="'pie'">
        <ngx-charts-pie-chart
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [labels]="chart.labels"
            [trimLabels]="chart.trimLabels"
            [maxLabelLength]="chart.maxLabelLength"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [explodeSlices]="chart.explodeSlices"
            [doughnut]="chart.doughnut"
            [arcWidth]="chart.arcWidth"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [tooltipText]="chart.tooltipText"
            [labelFormatting]="chart.labelFormatting"
            [schemeType]="chart.schemeType"
            (select)="onSelect && onSelect($event)"
            (dblclick)="onDblClick && onDblClick($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-pie-chart>
    </ng-container>

    <ng-container *ngSwitchCase="'advancedPie'">
        <ngx-charts-advanced-pie-chart
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [tooltipText]="chart.tooltipText"
            [label]="chart.label"
            [valueFormatting]="chart.valueFormatting"
            [nameFormatting]="chart.nameFormatting"
            [percentageFormatting]="chart.percentageFormatting"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-advanced-pie-chart>
    </ng-container>

    <ng-container *ngSwitchCase="'pieGrid'">
        <ngx-charts-pie-grid
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [tooltipText]="chart.tooltipText"
            [label]="chart.label"
            [minWidth]="chart.minWidth"
            [designatedTotal]="chart.designatedTotal"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-pie-grid>
    </ng-container>

    <ng-container *ngSwitchCase="'numberCard'">
        <ngx-charts-number-card
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [cardColor]="chart.cardColor"
            [bandColor]="chart.bandColor"
            [emptyColor]="chart.emptyColor"
            [innerPadding]="chart.innerPadding"
            [textColor]="chart.textColor"
            [valueFormatting]="chart.valueFormatting"
            [labelFormatting]="chart.labelFormatting"
            [designatedTotal]="chart.designatedTotal"
            (select)="onSelect && onSelect($event)">
        </ngx-charts-number-card>
    </ng-container>

    <ng-container *ngSwitchCase="'gauge'">
        <ngx-charts-gauge
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [units]="chart.units"
            [min]="chart.min"
            [max]="chart.max"
            [bigSegments]="chart.bigSegments"
            [smallSegments]="chart.smallSegments"
            [showAxis]="chart.showAxis"
            [showText]="chart.showText"
            [textValue]="chart.textValue"
            [margin]="chart.margin"
            [startAngle]="chart.startAngle"
            [angleSpan]="chart.angleSpan"
            [axisTickFormatting]="chart.axisTickFormatting"
            [valueFormatting]="chart.valueFormatting"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-gauge>
    </ng-container>

    <ng-container *ngSwitchCase="'linearGauge'">
        <ngx-charts-linear-gauge
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [min]="chart.min"
            [max]="chart.max"
            [value]="chart.value"
            [previousValue]="chart.previousValue"
            [units]="chart.units"
            [valueFormatting]="chart.valueFormatting"
            (select)="onSelect && onSelect($event)">
        </ngx-charts-linear-gauge>
    </ng-container>

    <ng-container *ngSwitchCase="'area'">
        <ngx-charts-area-chart
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [timeline]="chart.timeline"
            [gradient]="chart.gradient"
            [showGridLines]="chart.showGridLines"
            [activeEntries]="chart.activeEntries"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [roundDomains]="chart.roundDomains"
            [tooltipDisabled]="chart.tooltipDisabled"
            [autoScale]="chart.autoScale"
            [baseValue]="chart.baseValue"
            [xScaleMin]="chart.xScaleMin"
            [xScaleMax]="chart.xScaleMax"
            [yScaleMin]="chart.yScaleMin"
            [yScaleMax]="chart.yScaleMax"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-area-chart>
    </ng-container>

    <ng-container *ngSwitchCase="'areaNormalized'">
        <ngx-charts-area-chart-normalized
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [timeline]="chart.timeline"
            [gradient]="chart.gradient"
            [showGridLines]="chart.showGridLines"
            [activeEntries]="chart.activeEntries"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [roundDomains]="chart.roundDomains"
            [tooltipDisabled]="chart.tooltipDisabled"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-area-chart-normalized>
    </ng-container>

    <ng-container *ngSwitchCase="'areaStacked'">
        <ngx-charts-area-chart-stacked
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [timeline]="chart.timeline"
            [gradient]="chart.gradient"
            [showGridLines]="chart.showGridLines"
            [activeEntries]="chart.activeEntries"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [roundDomains]="chart.roundDomains"
            [tooltipDisabled]="chart.tooltipDisabled"
            [xScaleMin]="chart.xScaleMin"
            [xScaleMax]="chart.xScaleMax"
            [yScaleMin]="chart.yScaleMin"
            [yScaleMax]="chart.yScaleMax"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-area-chart-stacked>
    </ng-container>

    <ng-container *ngSwitchCase="'line'">
        <ngx-charts-line-chart
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [timeline]="chart.timeline"
            [gradient]="chart.gradient"
            [showGridLines]="chart.showGridLines"
            [activeEntries]="chart.activeEntries"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [roundDomains]="chart.roundDomains"
            [tooltipDisabled]="chart.tooltipDisabled"
            [autoScale]="chart.autoScale"
            [rangeFillOpacity]="chart.rangeFillOpacity"
            [showRefLines]="chart.showRefLines"
            [referenceLines]="chart.referenceLines"
            [showRefLabels]="chart.showRefLabels"
            [xScaleMin]="chart.xScaleMin"
            [xScaleMax]="chart.xScaleMax"
            [yScaleMin]="chart.yScaleMin"
            [yScaleMax]="chart.yScaleMax"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-line-chart>
    </ng-container>

    <ng-container *ngSwitchCase="'bubble'">
        <ngx-charts-bubble-chart
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [roundDomains]="chart.roundDomains"
            [tooltipDisabled]="chart.tooltipDisabled"
            [autoScale]="chart.autoScale"
            [minRadius]="chart.minRadius"
            [maxRadius]="chart.maxRadius"
            [xScaleMin]="chart.xScaleMin"
            [xScaleMax]="chart.xScaleMax"
            [yScaleMin]="chart.yScaleMin"
            [yScaleMax]="chart.yScaleMax"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-bubble-chart>
    </ng-container>

    <ng-container *ngSwitchCase="'heatMap'">
        <ngx-charts-heat-map
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [gradient]="chart.gradient"
            [innerPadding]="chart.innerPadding"
            [trimXAxisTicks]="chart.trimXAxisTicks"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [rotateXAxisTicks]="chart.rotateXAxisTicks"
            [maxXAxisTickLength]="chart.maxXAxisTickLength"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [xAxisTicks]="chart.xAxisTicks"
            [yAxisTicks]="chart.yAxisTicks"
            [min]="chart.min"
            [max]="chart.max"
            [activeEntries]="chart.activeEntries"
            [tooltipDisabled]="chart.tooltipDisabled"
            [tooltipText]="chart.tooltipText"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-heat-map>
    </ng-container>

    <ng-container *ngSwitchCase="'treeMap'">
        <ngx-charts-tree-map
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [gradient]="chart.gradient"
            [tooltipDisabled]="chart.tooltipDisabled"
            [valueFormatting]="chart.valueFormatting"
            [labelFormatting]="chart.labelFormatting"
            (select)="onSelect && onSelect($event)">
        </ngx-charts-tree-map>
    </ng-container>

    <ng-container *ngSwitchCase="'polarRadar'">
        <ngx-charts-polar-chart
            [view]="chart.view"
            [results]="chart.results"
            [scheme]="chart.scheme"
            [schemeType]="chart.schemeType"
            [customColors]="chart.customColors"
            [animations]="chart.animations"
            [legend]="chart.legend"
            [legendTitle]="chart.legendTitle"
            [legendPosition]="chart.legendPosition"
            [xAxis]="chart.xAxis"
            [yAxis]="chart.yAxis"
            [showXAxisLabel]="chart.showXAxisLabel"
            [showYAxisLabel]="chart.showYAxisLabel"
            [xAxisLabel]="chart.xAxisLabel"
            [yAxisLabel]="chart.yAxisLabel"
            [showGridLines]="chart.showGridLines"
            [gradient]="chart.gradient"
            [activeEntries]="chart.activeEntries"
            [rangeFillOpacity]="chart.rangeFillOpacity"
            [trimYAxisTicks]="chart.trimYAxisTicks"
            [maxYAxisTickLength]="chart.maxYAxisTickLength"
            [xAxisTickFormatting]="chart.xAxisTickFormatting"
            [yAxisTickFormatting]="chart.yAxisTickFormatting"
            [roundDomains]="chart.roundDomains"
            [tooltipDisabled]="chart.tooltipDisabled"
            [showSeriesOnHover]="chart.showSeriesOnHover"
            [yAxisMinScale]="chart.yAxisMinScale"
            [labelTrim]="chart.labelTrim"
            [labelTrimSize]="chart.labelTrimSize"
            [autoScale]="chart.autoScale"
            (select)="onSelect && onSelect($event)"
            (activate)="onActivate && onActivate($event)"
            (deactivate)="onDeactivate && onDeactivate($event)">
        </ngx-charts-polar-chart>
    </ng-container>
</div>
